*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(168, 155, 144);
}
.encabezado-principal{
    position: sticky;
    top: 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(129, 109, 92) ;
}
.encabezado-principal a img{
    height: 70px;
    width: 70px;
}
.encabezado-principal nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.contenido-principal{

}
.pie-principal{
    background-color: rgb(129, 109, 92);
}
.pie-principal .mensajeria{
    position: fixed; /* referencia es el viewport */
    bottom: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
}
